body {

}
.header {
    background-color: purple;
}
.header #logo {
    font-family: 'Cinzel', serif;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 3px #000;
    display: inline-block;
}
.header .nav {
    float: right;
    list-style: none;
    margin-top: 35px;
}
.header .nav .nav-link {
    display: inline-block;
    color: white;
}

.fa-user-circle {
    font-size: 60px;
}

/*ABOUT PAGE STYLES*/

.content-1 {
    margin: 10px;
}
.left {
    display: inline-block;
}

.left .content-img {
    height: 150px;
}
.right p {
    margin: 0 10px;
}
.right {
    display: inline-block;
    width: 70%
}

.content-2 {
    margin: 10px;
}

.content-3 div {
    display: inline-block;
    width: 30%;
    margin: 10px;
}


/*CONTACT STYLES*/

.location p {
    display: inline-block;
    width: 25%;
}
.location .map {
    float: right;
}

#header .info h2 {
    color: green;
}